.section--article {
  a {
    color: black;
  }

  .content {
    h1 {
      font-size: 28px;
      font-family: 'flamabold';
    }

    h2 {
      font-size: 14px;
    }

    h4 {
      font-size: 14px;
      font-style: italic;
    }

    p {
      font-family: 'flamabasic';
    }

    .quote {
      font-family: 'flamamedium';
      font-size: 20px;
      position: relative;
      display: inline-block;

      &:before {
        content: '“';
        position: absolute;
        font-size: 150px;
        top: 0;
        left: -20%;
        color: #bdf6c8;
        opacity: 0.5;
        font-family: serif;
        z-index: -1;
        line-height: 65px;
      }

      &:after {
        content: '”';
        position: absolute;
        font-size: 150px;
        top: 100%;
        left: 80%;
        color: #bdf6c8;
        opacity: 0.5;
        font-family: serif;
        z-index: -1;
        line-height: 65px;
      }
    }

    .author {
      display: flex;

      figure {
        margin: 14px 14px 0 0;
        min-width: 71px;
      }

      img {
        border-radius: 50%;
      }

      p {
        font-size: 14px;
        font-style: italic;
        color: #4a4a4a;
      }
    }

    aside {
      .images-container {
        .image {
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          p {
            color: #4a4a4a;
            font-size: 14px;
          }
        }

        .mobile-only {
          .image {
            height: 234px;
            margin: 0 1%;
            display: block;
          }

          .owl-stage-outer {
            width: 130%;
            margin-left: -25%;
          }

          .owl-nav {

            & > * {
              background-color: rgba(255, 255, 255, 0.5);
              width: 20%;
            }
          }
        }
      }
    }


    .carousel-wrapper {
      .owl-carousel {
        height: 200px;
        .owl-stage-outer {
          position: relative;

          .image {
            margin: 0 auto;
            width: 300px;
            overflow: hidden;

            img {
              height: 200px;
            }
          }
        }
      }
    }

    .article-container.owl-carousel {
      width: 86%;
      margin-left: 7%;

      .owl-stage-outer {
        margin: 40px;
      }
    }

  }

  .wrapper {
    position: relative;
    padding-top: 17px;
  }


}

@include respond-to('isdesktop') {

.section--article {
  .content {
    h1 {
      font-size: 34px;
      font-family: 'flamabold';
    }

    .wrapper {
      display: flex;
      flex-direction: column;
      padding-top: 30px;

      section {
        display: flex;
        flex-basis: 65%;
        padding-bottom: 28px;

        article {
          &.text {
            width: 65%;
          }
        }

        .carousel-wrapper {
          height: 493px;

          .owl-carousel {
            position: absolute;
            height: 493px;
            width: 100%;

            .owl-stage-outer {

              .image {
                max-height: 493px;
                width: auto;

                img {
                  height: 493px;
                }
              }
            }
          }
        }

        .quote {
          margin: 30px;
        }
      }

      aside {
        display: flex;
        justify-content: flex-end;
        flex-basis: 35%;
        width: 35%;

        .images-container {
          padding: 16px;
          max-width: 270px;
          display: flex;
          flex-direction: column;

          .image {
            display: flex;
            flex-direction: column;
            padding-bottom: 30px;
            img {
              width: 100%;
            }
          }
        }

        .author {
          flex-direction: column;
          padding: 16px;
          max-width: 270px;

          figure {
            margin: 0 auto;
          }
        }
      }
    }

  }
}

}
