@import "includes/jumbo/jumbo";

.section--home {
  display: flex;
  flex-direction: column;

  .content {
    h2 {
      font-family: 'flamamedium';
      font-size: 18px;
      margin: 12px 0;
    }

    .blog-wrapper {
      .blog-page {
        .owl-nav {
          & > * {
            background-color: rgba(255, 255, 255, 0.85);
            padding: 13px 13px;
          }
        }
      }
    }

    article {
      position: relative;
      margin: 22px 0;

      .wrapper {
        display: flex;
        flex-direction: column;

        img {
          transition: filter 0.5s linear;
          &:hover {
            @extend .grayscale;
          }
        }

        .post-thumbnail {
          overflow: hidden;
          flex-basis: 50%;
          display: flex;
          position: relative;
        }

        .text {
          background: #e5fd79;
          padding: 15px 9px;

          h3 {
            font-family: 'flamabold';
            font-size: 28px;
            margin: 5px 0;
            letter-spacing: 0.5px;
          }

          h4 {
            font-family: 'flamamedium';
            font-size: 18px;
            margin: 5px 0;
            min-height: 23px;
          }

          a {
            color: black;
          }

          .button-container {
            text-align: center;

            .more-button {
              background: white;
              border: 1px solid black;
              margin-top: 15px;
            }
          }
        }


      }

      &.block-second {
        .wrapper {
          .text {
            background: transparent;
            position: relative;

            &:before {
              position: absolute;
              content: ' ';
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background: url('../img/city.jpg');
              background-size: cover;
              z-index: -1;
              -moz-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
              -o-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
              -webkit-filter: grayscale(100%);
              filter: gray;
              filter: grayscale(1);
            }
          }
        }
      }

      &.block-third {
        .wrapper {
          .text {
            background: #bdf6c8;
          }
        }
      }

      &.blog {
        .wrapper {
          position: relative;

          .text {
            background: rgba(0, 209, 163, 0.85);
            padding-bottom: 40px;

            h3 {
              height: 185px;
              overflow: hidden;
            }

            h4 {
              font-family: 'flamabasic';
              font-size: 14px;
              font-style: italic;
            }

            &:before {
              position: absolute;
              content: ' ';
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background: url('../img/city.jpg');
              background-size: cover;
              z-index: -1;
            }

          }
        }
      }

      &.instagram {
        .image-container {
          .image-wrapper {
            margin: 0 1%;
            display: block;
          }
          .owl-stage-outer {
            width: 125%;
            margin-left: -17%;
          }

          .owl-nav {

            & > * {
              background-color: rgba(255, 255, 255, 0.5);
              width: 20%;
            }
          }
        }
      }

      &.twitter {
        margin-bottom: 0;

        .tweet-container {
          background: rgba(50,50,50, 0.1);
          display: flex;
          justify-content: center;
          flex-direction: column;
          margin: 0 -75px;
          padding: 1em 1em 3em 1em;

          .tweet {
            text-align: center;
            width: 337px;
            margin: 5px auto;
          }
        }
      }
    }

    article.intro {
      margin: 22px 0 30px;

      .component--jumbo-selector {
        .button-container {
          display: flex;
          justify-content: space-between;
          flex-direction: column;

          a {
            background: #4a4a4a;
            width: 100%;
            padding: 1em;
            color: white;
            text-align: center;
            text-transform: uppercase;
            font-family: 'flamamedium';
            margin-bottom: 1px;

            &.active {
              background: #01d2a3;
            }
          }

          p.text {
            max-height: 0;
            margin: 0;
            overflow: hidden;

            &.active {
              transition: max-height 0.2s linear;
              max-height: 500px;
              margin: 1em;
            }
          }
        }
      }

      .text-container {

        & .text {
          font-size: 18px;
          display: none;
          opacity: 0;
          line-height: 1.33;

          &.active {
            display: flex;
            opacity: 1;
          }

          span {
            flex-basis: 75%;
          }

          .ms-icon {
            font-size: 90px;
            margin-right: 20px;
            display: inline-block;
            flex-basis: 25%;
            text-align: center;
          }
        }
      }

    }

  }


}
@include respond-to('isdesktop') {
  .section--home {

    .content {
      h2 {
        margin: 60px 0 12px;
        font-size: 24px;
      }

      article {
        .wrapper {
          flex-direction: row-reverse;

          img {
            position: absolute;
            height: 100%;
            max-width: none;
            object-fit: cover;
            width: 100%;
          }

          .text {
            padding: 30px 22px;
            flex: 1 0 0;

            h3 {
              font-size: 54px;
              margin: 5px 0;
            }

            h4 {
              font-size: 20px;
              min-height: 27px;
            }

            .button-container {
              text-align: left;
            }
          }

        }

        &:not(.blog) .wrapper > :nth-child(1).text {
          & > * {
            max-width: 50%;
          }
        }

        &.right-aligned {
          .wrapper {
            flex-direction: row;
          }
        }

        &.blog {
          margin: 0 10px;

          .wrapper {
            .text {
              & > span {
                text-transform: uppercase;
                min-height: 21px;
                display: block;
              }

              h3 {
                font-size: 26px;
                height: 102px;
              }
            }
          }
        }

        &.instagram {

          .image-container {
            display: flex;
            justify-content: space-between;
            flex-flow: row wrap;

            .image-wrapper {
              margin: 18px 0 0 0;
              flex-basis: 20%;
              text-align: center;
            }

          }

        }

        &.twitter {

          .tweet-container {
            flex-direction: row;

            .tweet {
              margin: 5px 0;
              margin-left: 20px;

              &:first-child {
                margin: 0;
              }
            }
          }
        }
      }

      .blog-wrapper {
        .blog-page {
          .owl-nav {
            & > * {
              background-color: transparent;
            }
          }
        }
      }


      article.intro {
        display: block;
        .component--jumbo-selector {
          .button-container {
            flex-direction: row;
            a {
              margin: 8px;
              &:first-of-type {
                margin-left: 0;
              }
              &:last-of-type {
                margin-right: 0;
              }
            }
          }
        }
      }
    }
  }
}
