<div class="main-wrapper home header-light">
  <!-- build:include ../global/header/header.html --><!-- /build -->
  <main role="main" class="section--home">
    <!-- build:include includes/jumbo/jumbo.html --><!-- /build -->
    
    <section class="content">
      <article class="intro">
        <h2>Four Pillars of an Ecocity</h2>
        <div class="component--jumbo-selector">
          <div class="button-container">
            <a href="#" class="active">Urban Design</a>
            <a href="#">Bio Geo</a>
            <a href="#">Socio Cultural</a>
            <a href="#">Ecological</a>
          </div>
          <div class="text-container">
            <p class="desktop-only text active">
              <span class="ms-icon icon-building"></span>
              <span>The city is designed and developed with the underlying principle of access by proximity, providing residents with walkable access to open/green spaces, basic urban services, and affordable housing. It demonstrates environmentally friendly transport options and provides walking and transit access to close-by employment.</span>
            </p>
            <p class="desktop-only text">
              <span class="ms-icon icon-tree"></span>
              <span>The city commits to responsible management of resources and materials as well as the generation and use of clean, renewable energy. It maintains a level of physical conditions that ensure clean air and access to clean and safe water. It fosters healthy soil and makes sure nutritious, locally grown food is available.</span>
            </p>
            <p class="desktop-only text">
              <span class="ms-icon icon-people"></span>
              <span>The city provides access to lifelong education for all and facilitates conditions for vibrant human expression, knowledge, interaction and governance by promoting cultural activities and full community participation. It invests in an equitable economy that benefits people and planet and is committed to the wellbeing of every citizen, regardless of socioeconomic status.</span>
            </p>
            <p class="desktop-only text">
              <span class="ms-icon icon-growth"></span>
              <span>The city is committed to sustaining and restoring biodiversity of local, regional and global ecosystems, including species diversity, ecosystem diversity, and genetic diversity. It keeps its demand on ecosystems within the limits of the Earth’s carrying capacity and supports ecological integrity by maintaining essential linkages within and between ecological corridors.</span>
            </p>
          </div>
        </div>
      </article>

      <!-- Article with image -->
      <article class="left-aligned">
        <h2>Ecocity World Summit</h2>
        <div class="wrapper">
          <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=345&h=200">
          <div class="text">
            <h3>Melbourne</h3>
            <h4>July 12-19, 2017</h4>
            <p>
              Melbourne will showcase its sustainability credentials to experts worldwide when the prestigious Ecocity World Summit this copy can be up to three lines...
            </p>
            <div class="button-container"><button class="more-button">Learn More</button></div>
          </div>
        </div>
      </article>

      <!-- Article without image -->
      <article class="left-aligned">
        <h2>Ecocity World Summit</h2>
        <div class="wrapper">
          <div class="text">
            <h3>Melbourne</h3>
            <h4>July 12-19, 2017</h4>
            <p>
              Melbourne will showcase its sustainability credentials to experts worldwide when the prestigious Ecocity World Summit this copy can be up to three lines...
            </p>
            <div class="button-container"><button class="more-button">Learn More</button></div>
          </div>
        </div>
      </article>

      <!-- Article with image -->
      <article class="right-aligned">
        <h2>Ecocity World Summit</h2>
        <div class="wrapper">
          <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=345&h=200">
          <div class="text">
            <h3>Melbourne</h3>
            <h4>July 12-19, 2017</h4>
            <p>
              Melbourne will showcase its sustainability credentials to experts worldwide when the prestigious Ecocity World Summit this copy can be up to three lines...
            </p>
            <div class="button-container"><button class="more-button">Learn More</button></div>
          </div>
        </div>
      </article>

      <div class="blog-wrapper desktop-only">
        <h2>Ecocity World Summit</h2>
        <div class="blog-page owl-carousel">
          <article class="blog">
            <div class="wrapper">
              <div class="text">
                <span>ECOCITY WORLD SUMMIT</span>
                <h3>Postcard from the Ecocity World Summit: Abu Dhabi, Yes. Masd City, For Sure!</h3>
                <i>June 17, 2016  | Sven Eberlein</i>
                <div class="button-container"><button class="more-button">Learn More</button></div>
              </div>
            </div>
          </article>
          <article class="blog">
            <div class="wrapper">
              <div class="text">
                <span>ECOCITY WORLD SUMMIT</span>
                <h3>Postcard from the Ecocity World Summit: Abu Dhabi, Yes. Masd City, For Sure!</h3>
                <i>June 17, 2016  | Sven Eberlein</i>
                <div class="button-container"><button class="more-button">Learn More</button></div>
              </div>
            </div>
          </article>
          <article class="blog">
            <div class="wrapper">
              <div class="text">
                <span>ECOCITY WORLD SUMMIT</span>
                <h3>Postcard from the Ecocity World Summit: Abu Dhabi, Yes. Masd City, For Sure!</h3>
                <i>June 17, 2016  | Sven Eberlein</i>
                <div class="button-container"><button class="more-button">Learn More</button></div>
              </div>
            </div>
          </article>
          <article class="blog">
            <div class="wrapper">
              <div class="text">
                <span>ECOCITY WORLD SUMMIT</span>
                <h3>Postcard from the Ecocity World Summit: Abu Dhabi, Yes. Masd City, For Sure!</h3>
                <i>June 17, 2016  | Sven Eberlein</i>
                <div class="button-container"><button class="more-button">Learn More</button></div>
              </div>
            </div>
          </article>
          <article class="blog">
            <div class="wrapper">
              <div class="text">
                <span>ECOCITY WORLD SUMMIT</span>
                <h3>Postcard from the Ecocity World Summit: Abu Dhabi, Yes. Masd City, For Sure!</h3>
                <i>June 17, 2016  | Sven Eberlein</i>
                <div class="button-container"><button class="more-button">Learn More</button></div>
              </div>
            </div>
          </article>
          <article class="blog">
            <div class="wrapper">
              <div class="text">
                <span>ECOCITY WORLD SUMMIT</span>
                <h3>Postcard from the Ecocity World Summit: Abu Dhabi, Yes. Masd City, For Sure!</h3>
                <i>June 17, 2016  | Sven Eberlein</i>
                <div class="button-container"><button class="more-button">Learn More</button></div>
              </div>
            </div>
          </article>
        </div>
      </div>

      <div class="blog-wrapper mobile-only">
        <h2>Ecocity World Summit</h2>
        <div class="blog-page owl-carousel">
          
          <article class="blog">
            <div class="wrapper">
              <div class="text">
                <span>ECOCITY WORLD SUMMIT</span>
                <h3>Postcard from the Ecocity World Summit: Abu Dhabi, Yes. Masd City, For Sure!</h3>
                <i>June 17, 2016  | Sven Eberlein</i>
                <div class="button-container"><button class="more-button">Learn More</button></div>
              </div>
            </div>
          </article>
          <article class="blog">
            <div class="wrapper">
              <div class="text">
                <span>ECOCITY WORLD SUMMIT</span>
                <h3>Postcard from the Ecocity World Summit: Abu Dhabi, Yes. Masd City, For Sure!</h3>
                <i>June 17, 2016  | Sven Eberlein</i>
                <div class="button-container"><button class="more-button">Learn More</button></div>
              </div>
            </div>
          </article>
          <article class="blog">
            <div class="wrapper">
              <div class="text">
                <span>ECOCITY WORLD SUMMIT</span>
                <h3>Postcard from the Ecocity World Summit: Abu Dhabi, Yes. Masd City, For Sure!</h3>
                <i>June 17, 2016  | Sven Eberlein</i>
                <div class="button-container"><button class="more-button">Learn More</button></div>
              </div>
            </div>
          </article>
          <article class="blog">
            <div class="wrapper">
              <div class="text">
                <span>ECOCITY WORLD SUMMIT</span>
                <h3>Postcard from the Ecocity World Summit: Abu Dhabi, Yes. Masd City, For Sure!</h3>
                <i>June 17, 2016  | Sven Eberlein</i>
                <div class="button-container"><button class="more-button">Learn More</button></div>
              </div>
            </div>
          </article>
          <article class="blog">
            <div class="wrapper">
              <div class="text">
                <span>ECOCITY WORLD SUMMIT</span>
                <h3>Postcard from the Ecocity World Summit: Abu Dhabi, Yes. Masd City, For Sure!</h3>
                <i>June 17, 2016  | Sven Eberlein</i>
                <div class="button-container"><button class="more-button">Learn More</button></div>
              </div>
            </div>
          </article>

        </div>
      </div>

      <article class="instagram mobile-only">
        <h2>Instagram #ecocitybuilders</h2>
        <div class="image-container owl-carousel">
          <a class="image-wrapper" href="#"><img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=115%C3%97115&w=115&h=115"></a>
          <a class="image-wrapper" href="#"><img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=115%C3%97115&w=115&h=115"></a>
          <a class="image-wrapper" href="#"><img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=115%C3%97115&w=115&h=115"></a>
          <a class="image-wrapper" href="#"><img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=115%C3%97115&w=115&h=115"></a>
          <a class="image-wrapper" href="#"><img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=115%C3%97115&w=115&h=115"></a>
          <a class="image-wrapper" href="#"><img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=115%C3%97115&w=115&h=115"></a>
          <a class="image-wrapper" href="#"><img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=115%C3%97115&w=115&h=115"></a>
        </div>
      </article>

      <article class="instagram desktop-only">
        <h2>Instagram #ecocitybuilders</h2>
        <div class="image-container">
          <a class="image-wrapper" href="#"><img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=160%C3%97160&w=160&h=160"></a>
          <a class="image-wrapper" href="#"><img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=160%C3%97160&w=160&h=160"></a>
          <a class="image-wrapper" href="#"><img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=160%C3%97160&w=160&h=160"></a>
          <a class="image-wrapper" href="#"><img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=160%C3%97160&w=160&h=160"></a>
          <a class="image-wrapper" href="#"><img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=160%C3%97160&w=160&h=160"></a>
          <a class="image-wrapper" href="#"><img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=160%C3%97160&w=160&h=160"></a>
          <a class="image-wrapper" href="#"><img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=160%C3%97160&w=160&h=160"></a>
          <a class="image-wrapper" href="#"><img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=160%C3%97160&w=160&h=160"></a>
          <a class="image-wrapper" href="#"><img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=160%C3%97160&w=160&h=160"></a>
          <a class="image-wrapper" href="#"><img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=160%C3%97160&w=160&h=160"></a>
        </div>
      </article>

      <article class="twitter">
        <h2>Twitter @EcocityBuilder</h2>
        <div class="tweet-container">
          <div class="tweet"><img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=160%C3%97160&w=307&h=337"></div>
          <div class="tweet"><img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=160%C3%97160&w=307&h=337"></div>
        </div>
      </article>

    </section>    

  </main>
  <!-- build:include ../global/footer/footer.html --><!-- /build -->
</div>