@import "header/header";
@import "footer/footer";
@import "includes/social/social";

.grayscale {
  -moz-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  -o-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(100%);
  filter: gray;
  filter: grayscale(1);
}

.section--post {
  a {
    color: black;
  }

}

.hr-wrapper {
  margin: 0 14px;
}

.article-container {
  display: flex;
  flex-flow: row wrap;

  article.article {
    position: relative;
    padding: 10px;

    .wrapper {
      display: flex;
      flex-direction: column;
      position: relative;

      .text {
        background: #ecfff0;
        padding: 15px 9px;

        h2 {
          font-family: $flamabasic;
          font-size: 14px;
          margin: 5px 0;
        }

        h3 {
          font-family: $flamabold;
          font-size: 20px;
          margin: 5px 0;
          letter-spacing: 0.5px;
        }

        h4 {
          font-family: $flamabasic;
          font-size: 14px;
          font-style: italic;
          margin: 5px 0;
        }

        p {
          color: black;
        }

        .button-container {
          text-align: center;

          .more-button {
            background: white;
            border: 1px solid black;
            margin-top: 15px;
          }
        }
      }
    }
  }
}


@include respond-to('isdesktop') {
  .hr-wrapper {
    margin: 0 30px;
  }
  .article-container {
    article.article {
      padding: 15px;
      width: 50%;

      .wrapper {
        flex-direction: row-reverse;

        .text {
          padding: 30px 22px;
          flex: 1 0 auto;

          .button-container {
            text-align: left;
          }
        }

      }
    }
  }
}
