<footer class="component--footer">
  <h2>Stay in Touch</h2>
  <p>Sign up to receive our monthly newsletter and receive the latest Ecocity news</p>

  <div class="suscribe-container">
    <label>
      <input type="text" name="email" placeholder="Email">
    </label>
    <button class="suscribe-button">Suscribe</button>
    <span class="submit-message">Submit Message</span>
  </div>

  <div class="mobile-only">
    <!-- build:include ../includes/social/social.html --><!-- /build -->
  </div>

  <span class="contact-container">
    <span class="pipe">Ecocity Builders</span>
    <span class="pipe">399 15th Street, Suite 208</span>
    <span class="pipe">Oakland, CA 94612</span>
    <span>510-452-9522</span>
  </span>
  
  <hr>

  <div class="bottom-container">
    <span class="legal-container">
      <a class="pipe" href="#">Privacy Policy</a>
      <a class="pipe" href="#">Terms & Conditions</a>
      <span>© 2016 Ecocity Builders. All Rights Reserved.</span>
    </span>

    <div class="desktop-only">
      <!-- build:include ../includes/social/social.html --><!-- /build -->
    </div>
  </div>
</footer>