////
/// Buttons
/// @group Component - Buttons
////

button {
  border-radius: 6px;
  border: 0;
  color: black;
  font-family: 'flamamedium';
  font-size: 16px;
  letter-spacing: 0.8px;
  padding: 0.7em;
  text-transform: uppercase;
  transition: all 0.1s linear;
}