@import "includes/featured/featured";

.section--blog {
  .head {
    background: #01d2a3;
    height: 50px;
    display: flex;
    padding: 10px 14px;
    align-items: center;
    h1 {
      padding: 0 16px;
    }
  }

  .component--featured {
    margin: 0 -14px;
  }

  h1 {
    font-family: $flamamedium;
    font-size: 24px;
    padding: 26px 16px 0;
  }

  h2 {
    padding-top: 30px;
  }

  form {
    display: flex;
    flex-direction: column;

    select {
      display: flex;
      flex-basis: 100%;
      margin: 1em;
      border: 2px solid black;
      padding: 5px;
    }
  }

  .article-container {
    article.blog {
      width: 100%;

      a {
        color: black;
      }

      &:before {
        content: ' ';
        display: block;
        width: 100%;
        border-radius: 8px;
        border: none;
        height: 4px;
        background: #000;
      }
    }

    &.mobile-only {
      .article.featured {
        .text {
          height: 210px;

          h2 {
            padding-top: 0;
          }
        }
      }
    }
  }

  .pagination-container {
    text-align: center;
    width: 100%;
    margin: 1em;
    a {
      color: black;
      font-size: 20px;
      text-decoration: underline;
    }
  }
}

@include respond-to('isdesktop') {
  .section--blog {
    .head {
      height: 103px;
      padding: 20px 75px;
      h1 {
        padding: 26px 16px 0;
      }
    }

    .component--featured {
      margin: 0;
    }

    .article-container {
      article.blog {
        width: 50%;

        .text {
          height: 309px;
          width: 100%;

          h2 {
            padding-top: 0;
          }
        }
      }

      .article.featured {
        .text {
          h2 {
            padding-top: 0;
          }
        }
      }
    }

    h1 {
      padding: 46px 16px 0;
    }

    form {
      flex-direction: row;

      select {
        flex-basis: 33%;
      }
    }
  }
}
