@import "includes/menu/menu";
@import "includes/top-bar/top-bar";

.component--header {
  margin: 16px 14px;
  max-height: 246px;
  z-index: 9;

  a {
    color: black;
  }

  .donate-button {
    background: #bdf6c8;
    margin-left: 15px;
    margin-top: 3px;
    min-width: 122px;
    @include respond-to('ipad-landscape') {
      margin-left: 0px;
    }
    &:hover {
      background: #01d2a3;
    }

    &:active {
      background: #01d2a3;
    }
  }

  figure {
    display: inline-block;
    margin: 0;

    .logo {
      width: 127px;

      &.logo-black {
        display: block;
      }

      &.logo-white {
        display: none;
      }
    }
  }

  .nav-container {
    width: 100%;
    display: inline-block;

    @include respond-to('ismobile') {
      button.mobile-only.menu-button {
        float: right;
      }
    }

    h2 {
      font-size: 25px;

      .eco {
        color: #01d2a3;
      }
    }
  }

  .menu-button {
    background: white;
    margin: -10px;

    .ms-icon {
      font-size: 45px;
    }
  }

  .mobile-menubar {
    display: none;
  }

  &:before {
    content: ' ';
    height: 100%;
    width: 100%;
    background: white;
    opacity: 0;
    position: fixed;
    top: -100%;
    left: 0;
    transition: all 0.2s ease;
  }


  /****************
   *  Menu Open
   ****************/

  &.menu-open {
    position: relative;

    .nav-container > .menu-button {
      display: none;
    }

    &:before {
      content: ' ';
      height: 100%;
      width: 100%;
      background: black;
      opacity: 0.82;
      display: block;
      position: fixed;
      top: 0;
      left: 0;
    }
    .mobile-menubar {
      display: block;
      position: absolute;
      width: 100%;
      left: 0;
      top: 0;

      .menu-head {
        display: block;

        .menu-button{
          color: white;
          background: none;
          float: right;
        }
      }

      .menu-content {
        width: 100%;
        font-family: $flamabold;
        letter-spacing: 1.2px;
        font-size: 18px;

        .component--menu {
          display: block;
        }

        .top-menu-container {
          display: block;

          .top-menu {
            display: block;

            .menuitem {
              display: block;
            }
          }

          .component--social-menu {
            display: block;
            padding: 0 40px;
            text-align: center;

            a {
              &:first-child {
                float: left;
              }

              &:last-child {
                float: right;
              }
            }
          }
        }

        a {
          color: white;
        }

        hr {
          display: none;
        }
      }
    }
  }
}

.header-light .component--header {
  figure {
    .logo {

      &.logo-black {
        display: none;
      }

      &.logo-white {
        display: block;
      }
    }
  }

  hr {
    background: white;
  }
}

@include respond-to('isdesktop') {
  .component--header {
    margin: 16px 30px;

    .nav-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    figure {
      .logo {
        width: toem(500px);
      }
    }

  }

  .header-light .component--header {
    h2 {
      color: white;
    }

    a {
      color: white;
    }
    .donate-button a {
      color: black;
    }
  }
}

@include respond-to ('desktop') {
  .component--header figure .desktop-only {
      width: toem(400px);
  }
}
@include respond-to('ipad-landscape') {
  .component--header .donate-button {
    margin-left: 0px;
  }
}
