@include respond-to('ismobile') {
  .mobile-hidden {
    display: none !important;
  }

  .desktop-only {
    display: none !important;
  }
}


@include respond-to('isdesktop') {
  .desktop-hidden {
    display: none !important;
  }

  .mobile-only {
    display: none !important;
  }
}